# Ambiente virtual
bin/
include/
lib/
lib64/
pyvenv.cfg

# Cache do Python
__pycache__/
*.pyc
*.pyo

# VSCode, PyCharm ou outros IDEs/editors
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db
